select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  &::-ms-expand {
    display: none;
  }
}
